doctype html
html(lang="zh")
  head
    meta(charset="UTF-8")
    meta(name="description" content="")
    meta(name="keywords" content="")
    meta(name="author" content="胡月")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    meta(name="apple-mobile-web-app-capable" content="yes")
    title 详情页面
    link(rel="stylesheet" href="/css/common.css")
    link(rel="stylesheet" href="/css/article.css")
  body
    div.hy-container
        header.hy-main-head.clearfix
            nav.fr.hy-main-nav
                ul.clearfix
                    li.it
                        a(href="/") 首页
                    li.it
                        a(href="/blog") 博客
        section.hy-article-body.clearfix
            section.hy-article-main
                article.hy-article-block
                    div.hy-article-inner
                        a(href="")
                            h2.hy-article-title
                                span.hy-article-name LOFTER，从简约中领悟品质的真谛
                            div.hy-article-cont
                                p.hy-article-text 他们生活随 意，常常需要在工作台上贴上一些黄色的小纸条来提醒自己杂乱的工作，这时，真的需要一个LOFTER，也来参与一下热闹的互联网，微博你玩不起来，博客想 不到主题，不知道如何发布组图也不想发布，你也不知道如何组织文字和整理思路，但是你有一堆的好作品或者一堆好相片，也想在大伙里路过一下，让大伙转过头 来注意一下你……
                            div.clearfix
                                i.fl.hy-icon-tag
                                div.fl.clearfix
                                    span.hy-article-tag 标签1
                                    span.hy-article-tag 标签2
                    div.hy-list-info.clearfix
                        div.fl.clearfix
                            i.fl.hy-icon-time
                            span.hy-info-text 2016-03-10
                        div.fr
                            div.fl.clearfix
                                i.fl.hy-icon-heart
                                span.hy-info-text 111
                            div.fl.clearfix
                                i.fl.hy-icon-comment
                                span.hy-info-text 111

                article.hy-article-block
                    div.hy-article-inner
                        a(href="")
                            h2.hy-article-title
                                span.hy-article-name LOFTER，从简约中领悟品质的真谛
                            div.hy-article-cont
                                p.hy-article-text 他们生活随 意，常常需要在工作台上贴上一些黄色的小纸条来提醒自己杂乱的工作，这时，真的需要一个LOFTER，也来参与一下热闹的互联网，微博你玩不起来，博客想 不到主题，不知道如何发布组图也不想发布，你也不知道如何组织文字和整理思路，但是你有一堆的好作品或者一堆好相片，也想在大伙里路过一下，让大伙转过头 来注意一下你……
                            div.clearfix
                                i.fl.hy-icon-tag
                                div.fl.clearfix
                                    span.hy-article-tag 标签1
                                    span.hy-article-tag 标签2
                    div.hy-list-info.clearfix
                        div.fl.clearfix
                            i.fl.hy-icon-time
                            span.hy-info-text 2016-03-10
                        div.fr
                            div.fl.clearfix
                                i.fl.hy-icon-heart
                                span.hy-info-text 111
                            div.fl.clearfix
                                i.fl.hy-icon-comment
                                span.hy-info-text 111
            aside.hy-article-aside
                span.hy-aside-img
                    img(src="/images/article/head.jpg" width="100%")
                div.hy-aside-cont
                    p.hy-aside-txt 我不知道写什么东西我不知道写什么东西我不知道写什么东西我不知道写什么东西我不知道写什么东西
